<div class="App">
    <header class="App-header">
        <div class="App-body">
            <div class="App-logo">
                <img class="front" src="assets/front shapes.png" alt="logo" />
                <img src="assets/Avatar.png" alt="logo" />
            </div>
            <img src="assets/BG58-01.jpg" class="App-back" alt="background" />
            <div class="content">
                <div class="main">
                    <div class="wrapper">
                         <form>
                            <h1>Get Started Free</h1>
                            <p>Free Forever. No Credit Card Needed</p>
                            <div class="input-box">
                                <p>Email Address</p>
                                <input type="email" placeholder="yourname@gmail.com" required />
                                <i class='bx bxs-user'></i>
                            </div>

                            <div class="input-box">
                                <p>Your Name</p>
                                <input type="text" placeholder="@yourname" required />
                                <i class='bx bxs-user'></i>
                            </div>
                            <div class="input-box">
                                <p>Password</p>
                                <input type="password" placeholder="********" required />
                                <i class='bx bxs-lock-alt'></i>
                            </div>
                            <button type="submit" class="btn">Sign up</button>
                            <div class="signup">
                                <img src="assets/Rectangle 3.png" alt="logo" />
                                <p>Or sign up with</p>
                                <img src="assets/Rectangle 4.png" alt="logo" />
                            </div>
                            <div class="register-link">
                                <a href="#"><img src="assets/google-icon-removebg-preview.png" alt="" /></a>
                                <a href="#"><img src="assets/apple-removebg-preview.png" alt="" /></a>
                                <a href="#"><img src="assets/Facebook-Icon-PNG-1-removebg-preview.png" alt="" /></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>


